.flex{
    display: flex;
}

.justify-content {
    justify-content: center;
}

.align-items{
    align-items: center;
}

.border{
    border: 2px solid red;
    margin:3px
}

.invert{
    filter: invert(1);
}
.logo{
    padding: 25px;
}

